.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font: size 12;
  padding: 15px;
}

.menu {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  height: 75px;
  z-index: 2;
}
/* div.App nav ul li */
/* nav tag */
/* .menu {
  position: fixed;
  text-align: center;
} */

nav ul {
  padding-top: 10px;
} /*  상단 여백 10px  */
nav ul li {
  display: inline; /*  세로나열을 가로나열로 변경 */
  border-left: 1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
  font: bold 12px; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
  padding: 0 10px; /* 각 메뉴 간격 */
  text-align: center; /* 글자 가운데 지정*/
  background-color: red;
}
nav ul li:first-child {
  border-left: none;
} /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
